@use "sass:map";
@use "sass:math";
@use "../../sass/variables.scss";

.featured {
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 20px;

    .featuredItem {
        position: relative;
        flex: 1;
        height: 200px;
        overflow: hidden;
        border-radius: 10px;


        img {
            width: 100%;
            object-fit: cover;
        }

        .featuredTitles {
            position: absolute;
            left: 10%;
            top: 60%;
            color: #fff;

            h1 {
                font-size: 30px;
            }

            h2 {
                font-size: 20px;
            }
        }
    }
}